name: Run Unit Tests

on:
  push:
    branches:
      - CompleteRefactor

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '17' # Anv채nd r채tt Java-version h채r, om du anv채nder JDK 17.

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Run Unit Tests
        run: ./gradlew test --no-daemon